{% extends 'base.html.twig' %}

{% block title 'Learn Symfony | Event Create' %}
{% block page_title 'Event' %}
{% block page_subtitle 'Create' %}

{% block page_content %}
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-table" ></i><a href="{{ path('event_index') }}">List</a>
        </div>
        {{ form_start(form) }}
            <div class="box-body">
                <div class="form-group">
                    {{ form_widget(form) }}
                </div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
